<nav class = "navbar navbar-dark bg-dark" >
<p class="text-light text-xl-left font-weight-bold text-justify">URL Shortener</p>
</nav>

<div class="container py-5">
	<div>
		<h2 class="text-center font-weight-bold text-justify">URL Shortener</h2>
	</div>
	
	<div class="p-3 text-center">
		<div class="">	
			<img class = "rounded img-fluid" style = "width: 200px; height:200px;"src="https://upload.cc/i1/2019/09/30/7QAYl3.png" alt='entrepreneur'>
	  </div>
	</div>	
	{{> messages}}

	
	<div class="p-2 text-center" >
		<div class="form-group">
		
	  	{{#if isAuthenticated}}
		    <label for="exampleFormControlTextarea1">Shortened URL</label>
			  <div class="border border-secondary rounded " style="height: 70px;">
					<span>Link Shortening Successful! Visit your website at</span>		
				 <a href="http://{{ inputURL }}">{{{ urlShortener }}}<a>
			  </div>
				<form method="GET" action="/">
			    <div class="text-center">
				    <button class="btn btn-sm btn-info mt-2" data-toggle="popover" type="submit">Return</button>
			    </div>
				</form>
			  {{else}}		
				<form method="POST" action="/Shorten">
			    <label for="exampleFormControlTextarea1">Input URL</label>
			    <input type="text" class="form-control text-left" style="height:70px;"id="teatarea" placeholder="ex: google.com"
				  name="orgURL" value="{{orgURL}}">
			    <div class="text-center">
				    <button class="btn btn-sm btn-info mt-2" data-toggle="popover" type="submit">Shorten!</button>
			    </div> 
				</form>
			  {{/if}}
		
		</div>  
	</div>
  
</div>